.bg {
  width: 100vw;
  height: 100vh;
  background-image: url(../../public/images/bg-login.jpg);
  background-size: cover;
  overflow: hidden;
}

.container_input {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.register {
  position: absolute;
  bottom: 5px;
  font-size: 0.8rem;
}

.register > a {
  text-decoration: none;
  color: #18A6C6;
  font-style: italic;
}
